<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>要生成的合同文件</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style mce_bogus="1" type="text/css">
        body {font-family: SimSun,Microsoft YaHei, SimHei; background:none;margin-left: auto;margin-right: auto;}
        body,html,div,p{ font-size:14px; margin:0px; padding:0px;}
        .bule{
            margin: 0 auto;
            font-style: italic;
            font-size: 20px;
            color:rgba(0,0,255,1);
            background: aqua;
        }
    </style>
</head>
<body>
<div class="bule">你好，${name}</div>
</body>
</html>